DB_ENGINE=django.db.backends.postgresql
DB_NAME=wordwand
DB_USER=wordwand
DB_PASSWORD=yourpassword
DB_HOST=localhost
DB_PORT=5432

GROQ_API_KEY=gsk_your_real_key_here
DJANGO_SECRET_KEY=your_real_secret_key
DEBUG=True