<nav class="pill-navbar">

    <!-- Left Buttons -->
    <!-- <div class="nav-left">
        <a href="#" class="pill pink">FAQs</a>
        <a href="#" class="pill light-pink">About</a>
    </div> -->

    <!-- Center Logo -->
    <div class="nav-left">
        <div class="logo-circle">
            <i class="fa-solid fa-graduation-cap"></i>
        </div>
    </div>

    <div class="nav-center">
        WordWand
    </div>


    <!-- Right Buttons -->
    <div class="nav-right">
    <a href="#" class="pill nav-green">
        <i class="fa-solid fa-gauge"></i> Dashboard
    </a>

    <a href="#" class="pill blue">
        <i class="fa-solid fa-user"></i> Profile
    </a>
</div>

</nav>
