{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="main-board">

    <div class="hero">

        <div>
            <h1>
                We are making <br>
                <span>Learning Fun</span>
            </h1>
            <p>Hello 👋 Let’s learn some new words today!</p>
        </div>

        <img src="{% static 'images/kid.png' %}">
    
    </div>

    <div class="cards">

        <a href="{% url 'letters_intro' %}" class="card orange">
            <h3>ABC Letters</h3>
            <p>Tap to hear and see letters.</p>
        </a>

        <div class="card yellow">
            <h3>Word Games</h3>
            <p>Fun games to practice spelling.</p>
        </div>

        <a href="{% url 'reader' %}" class="card green">
            <h3>Read & Listen</h3>
            <p>Words read aloud with highlight.</p>
        </a>

        <div class="card purple">
            <h3>AI Helper</h3>
            <p>Speak and get friendly replies.</p>
        </div>

    </div>

</div>

{% endblock %}
